@import url(//db.onlinewebfonts.com/c/a44207bfe4040f536c824dbbf82f5ed1?family=e-Ukraine);
@font-face {
    font-family: "e-Ukraine";
    src: url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.eot");
    src: url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.woff") format("woff"), url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a44207bfe4040f536c824dbbf82f5ed1.svg#e-Ukraine") format("svg");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "e-Ukraine";
}

a {
    text-decoration: none;
}

a:active {
    color: black;
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1320px;
    width: 100%;
}

.button {
    font-family: "e-Ukraine";
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 12px 32px;
    background: #000000;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s linear;
    &:hover {
        background: linear-gradient(68.94deg, #C3AAB2 -4.77%, #99EECC 46.72%, #80C0C8 90.23%, #4B8BFA 134.46%);
        border-radius: 100px;
        color: #000000;
    }
    &-inverted {
        font-family: "e-Ukraine";
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000;
        padding: 12px 32px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
            border-image-slice: 1;
            border: 2px black solid;
            border-image: linear-gradient(87.99deg, #C3AAB2 0.66%, #99EECC 57.2%, #80C0C8 75.87%, #4B8BFA 98.72%) 10% round;
            border-radius: 100px;
        }
    }
}

header {
    position: relative;
    max-height: 768px;
    .img {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: -1;
    }
    .nav {
        z-index: 1;
        &__container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 24px 60px;
        }
        &__categories {
            display: flex;
            align-items: center;
            &-item {
                margin-left: 36px;
                &:first-child {
                    margin-left: 0;
                }
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }
            &-button {
                margin-left: 55px;
            }
        }
    }
    .info {
        padding: 40px 0 180px 0;
        &__container {
            max-width: 730px;
            width: 100%;
            margin: 0 auto;
        }
        &-paragraph {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-top: 24px;
            width: 606px;
            padding: 0 62px;
        }
        &-title {
            font-weight: 400;
            font-size: 56px;
            line-height: 110%;
            text-align: center;
        }
        &__button__group {
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.02em;
                margin-left: 29px;
            }
            display: flex;
            justify-content: center;
            margin-top: 50px;
            &-item {
                margin-left: 29px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        &-callus {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
            opacity: 0.5;
            width: 433px;
            margin-top: 24px;
            padding: 0 146px;
        }
    }
}

.content {
    .proposition {
        &-item {
            font-weight: 400;
            font-size: 56px;
            line-height: 110%;
            padding: 0px 60px;
        }
        &-desc {
            font-size: 14px;
            line-height: 140%;
            color: #808080;
            padding: 0px 60px;
            width: 655px;
            margin-top: 20px;
        }
        &__container {
            margin-top: 85px;
        }
        &__cards {
            overflow-x: scroll;
            display: flex;
            padding: 50px 60px;
            &-container {
                width: 296px;
            }
            &-item {
                background: #F6F6FA;
                max-width: 396px;
                padding: 34.5px 60px 34.5px 40px;
                margin-left: 26px;
                &:first-child {
                    margin-left: 0;
                }
            }
            &-desc {
                font-size: 14px;
                line-height: 140%;
                color: #808080;
                max-width: 219px;
            }
            &-title {
                font-size: 32px;
                line-height: 32px;
                margin: 10px 0;
                width: 100%;
            }
        }
    }
    .statistic {
        &__container {
            max-width: 1236px;
            padding: 130px 144px 124px 60px;
            display: flex;
            justify-content: space-between;
        }
        &-title {
            font-size: 56px;
            line-height: 110%;
            margin: auto 0;
        }
        &__group {
            display: flex;
            flex-direction: column;
            &-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 82px;
                max-width: 431px;
                width: 100%;
                &:first-child {
                    margin-top: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: linear-gradient(87.99deg, #C3AAB2 0.66%, #99EECC 57.2%, #80C0C8 75.87%, #4B8BFA 98.72%);
                    bottom: -30px;
                    left: 0;
                }
            }
            &-number {
                font-size: 56px;
                line-height: 110%;
            }
            &-title {
                font-weight: 300;
                font-size: 18px;
                line-height: 28px;
                width: 262px;
                padding-left: 20px;
            }
        }
    }
    .info {
        background: #E6EBE6;
        &__container {
            max-width: 1320px;
            padding: 56px 0 0 60px;
        }
        &-title {
            font-size: 56px;
            line-height: 110%;
        }
        &__group {
            padding: 80px 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 80px;
            row-gap: 153px;
            &-item {
                position: relative;
                display: flex;
                flex-direction: column;
                max-width: 386.67px;
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #000;
                    position: absolute;
                    top: -19px;
                    left: 0;
                }
            }
            &-title {
                font-size: 28px;
                line-height: 32px;
            }
            &-desc {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                max-width: 320px;
                margin-top: 24px;
            }
        }
    }
    .about {
        &__container {
            padding: 150px 58px 200px 70px;
            max-width: 1312px;
        }
        &-title {
            font-size: 38px;
            line-height: 110%;
        }
        &__group {
            margin-top: 50px;
            padding: 43px 32px;
            border: 2px solid grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .support {
        &-title {
            font-size: 38px;
            line-height: 110%;
        }
        &__container {
            padding: 0 0 170px 70px;
            max-width: 1320px;
            width: 100%;
        }
        &__group {
            background: #F6F6FA;
            margin-top: 50px;
            padding: 69px 90px 79px 90px;
            &-flex1 {
                display: flex;
                justify-content: space-between;
            }
            &-flex2 {
                display: flex;
                justify-content: space-between;
                margin-top: 70px;
            }
        }
    }
}

footer {
    background: #000;
    .nav {
        &__container {
            max-width: 1320px;
            width: 100%;
            padding: 0 60px;
        }
        &-desc {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            padding-left: 46px;
            margin-top: 10px;
        }
        &-logo {}
        &__group {
            display: flex;
            justify-content: flex-end;
            &-item {
                display: flex;
                flex-direction: column;
                margin-left: 137px;
                &:last-child {
                    margin-left: 155px;
                }
            }
            &-link {
                font-size: 13px;
                line-height: 16px;
                color: #FFFFFF;
                margin-top: 25px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}